.container {
  width: 50%;
  margin: auto;
  background-color: rgb(213, 159, 223);
  margin-top: 50px;
  padding-bottom: 20px;
  border: 2px solid black;
  border-radius: 2%;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

#main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 45px;
  color: red;
  text-align: center;
  margin-top: 25px;
  border-radius: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: auto;
}

h1:hover {
  color: blue;
}

.form1 {
  display: flex;
  margin-top: 30px;
  gap: 22px;
  justify-content: center;

}

input {
  width: 100%;
  height: 35px;

  outline: none;
  border: 0;
  border-bottom: 1px solid;
}

input:focus {
  box-shadow: 0px 0px 10px black;
}

h3 {
  text-align: center;
  color: red;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3:hover {
  color: blue;
}

.set {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.set1 {
  width: 50%;
  margin-left: 3%;
  margin-top: 20px;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  margin: 0px;
}

.btn1 {
  font-size: 13px;
  color: darkgreen;
  border: 2px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightcoral;
}

.btn1:hover {
  background-color: rgb(205, 200, 84);
}

fa-icon {
  font-size: 20px;
}

.fa {
  padding-top: 17px;

}
/* use media query  */

@media (min-width: 768px) {
  .container {
    width: 70%;
    background-color:lightsalmon;
  }

}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }
  p{
    background-color: lightgoldenrodyellow;
  
  }
}

@media (min-width: 1200px) {
  .container {
    width: 40%;
  }
}
